@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles  */
/* * {
   margin: 0;
  font-family: "Quicksand";
  color: #000000;
  background-image: url("./Images/orange_pinta_image.jpg");
  
}

html {
  background-image: url("./Images/pinta_image.jpg");
} */
.navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid ;
  font-weight: bold;

  
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  margin-right: 30px;
}

.nav-link {
  color: black !important;
  margin-left: 30px;
  font-size: 18px;
}

.nav-link:hover {
  color: white !important;
}
/*
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  border: none;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
/*.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
*/
.navbar a:hover {
    color: #f1f1f1;
  }
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  /* blog previews / list */
  /* .blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  } */


input::placeholder {
  font-weight: normal;
  opacity: 20;
  color: white !important;
}