.sidebarbody {
    height: 50px; /* set the height of the sidebar */
    overflow-y: auto; /* add a scrollbar if necessary */
  }
  
  .sidebar-button {
    position: absolute;
    margin-top: 50px;
    top: 50px; /* set the distance from the bottom of the page */
    left: 7%; /* center the button horizontally */
    transform: translateX(-50%);
  }
  
  .offcanvas {
    margin-top: 200px;
    max-height: calc(100% - 120px); /* set the maximum height of the off-canvas sidebar */
  }
  